#tab-menu {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: darkcyan;
    padding: 5px 0;
    height: 10%;
}

#tab-menu a {
    text-decoration: none;
    color: #555;
    padding: 5;
}

#tab-menu:active {
    color: aliceblue;
    
}

button.tab {
  background-color: darkcyan;
  border-radius: 0%;
  border-width: 0cap;
  height: 75px;
  width: 75px;
  color:  rgb(0, 255, 170);
}

button.tab:hover {
    background-color: rgb(83, 129, 129);
    border-radius: 0%;
    border-width: 0cap;
  }

button.tab:active {
    color: white
}